{% assign document = post | default: page %}

{% assign show_date = document.show_date %}
{% if include.force_hide_date %}
  {% assign show_date = false %}
{% endif %}

{% if document.read_time or show_date or include.pinned %}
  <p class="page__meta">
    {% if include.pinned %}
      {% assign date = document.date %}
      <span class="page__meta-pinned">
        <i class="far {% if include.type == 'grid' and (show_date or document.read_time) %}fa-fw {% endif %}fa-flag" aria-hidden="true"></i>
        {{ site.data.ui-text[site.locale].pinned | default: "Pinned" }}
      </span>
    {% endif %}

    {% if include.pinned and (show_date or document.read_time) %}<span class="page__meta-sep"></span>{% endif %}

    {% if show_date and document.date %}
      {% assign date = document.date %}
      <span class="page__meta-date">
        <i class="far {% if include.type == 'grid' and (include.pinned or document.read_time) %}fa-fw {% endif %}fa-calendar-alt" aria-hidden="true"></i>
        <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%Y 年 %-m 月 %-d 日" }}</time>
      </span>
    {% endif %}

    {% if show_date and document.read_time %}<span class="page__meta-sep"></span>{% endif %}

    {% if document.read_time %}
      {% assign source = document.content %}
      {% include helpers/wordcount.html %}
      {% assign words = wordcount %}
      {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}

      <span class="page__meta-readtime">
        <i class="far {% if include.type == 'grid' and (include.pinned or show_date) %}fa-fw {% endif %}fa-clock" aria-hidden="true"></i>
        {% if words < words_per_minute %}
          {{ site.data.ui-text[site.locale].read_time | default: "" }}{{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% elsif words == words_per_minute %}
          {{ site.data.ui-text[site.locale].read_time | default: "" }}{{ site.data.ui-text[site.locale].around | default: "" }}1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% else %}
          {{ site.data.ui-text[site.locale].read_time | default: "" }}{{ site.data.ui-text[site.locale].around | default: "" }}{{ words | divided_by: words_per_minute | round }} {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
        {% endif %}
      </span>
    {% endif %}
  </p>
{% endif %}
